/* Isotope JS */
.gallery-container {
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    width: 100%;
}

.gallery .wide-2col {
    max-width: 33.33%;
    height: auto;
}

.gallery .narrow-1col {
    max-width: 16.66%;
    height: auto;
}

@media (max-width: 992px) {
    .gallery .wide-2col {
        max-width: 50%;
        height: auto;
    }

    .gallery .narrow-1col {
        max-width: 25%;
        height: auto;
    }
}

@media (max-width: 750px) {
    .gallery .wide-2col {
        max-width: 100%;
        height: auto;
    }

    .gallery .narrow-1col {
        max-width: 50%;
        height: auto;
    }
}

.gallery .item img {
    height: auto;
    width: 100%;
}

.gallery .item .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(59, 59, 59, 0.60);
    transition: visibility 0.5s, opacity 0.5s;
}

.gallery .item:hover .hover {
    visibility: visible;
    opacity: 1;
}

.gallery .item .hover .center {
    position: relative;
    margin-top: 25px;
}

.gallery .item .hover .center h3 {
    text-transform: uppercase;
    color: #f3f3f3;
}

/*
 * Header
 */

#header .button {
    margin-bottom: 5px;
}

/*
 * User Header /Login Register/
 */

#user-header {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 1;
}

#user-header .user {
    display: inline-block;
    height: 79px;
}

#user-header .user .buttons {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
}

#user-header .user .gravatar {
    display: inline-block;
    float: right;
    position: relative;
    height: 79px;
}

#user-header .user .gravatar .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(59, 59, 59, 0.60);
    transition: visibility 0.5s, opacity 0.5s;
    border-radius: 50px;
}

#user-header .user .gravatar .hover .center {
    margin-top: 25%;
    font-size: 2em;
}

#user-header .user .gravatar:hover .hover {
    visibility: visible;
    opacity: 1;
}

#user-header .user .gravatar a {
    border-bottom: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#user-header .user .gravatar img {
    border-radius: 50px;
    border: 2px solid #f3f3f3;
}

@media (max-width: 970px) {
    #user-header {
        position: inherit;
        right: auto;
        display: block;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 750px) {
    #user-header {
        width: auto;
    }

    #user-header .user {
        height: auto;
    }
}

@media (max-width: 440px) {
    #user-header .user .gravatar {
        float: none;
    }
}

/*
 * Here Maps
 */

.map div {
    max-height: 500px;
}

/*
 * Tags Styling
 */

.tags {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.tags li {
    float: left;
}

/*
 * Heading text
 */

.major a {
    border-bottom: none;
}

/*
 * Markdown text
 */

.markdown-content * {
    margin-bottom: 1%;
}

/*
 * Post Show, footer author
 */

.author {
    display: inline-block;
    float: right;
    text-transform: capitalize;
    font-weight: 400;
}

.style2 .author {
    color: #f3f3f3;
}

.author:before {
    background: none repeat scroll 0% 0% rgba(144, 144, 144, 0.5);
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 0.5em;
    margin-right: 0.25em;
}

.style2 .author:before {
    background: #f3f3f3;
}

/*
 * Comments
 */
.comment {
    list-style: none;
}

.comment:after {
    background: none repeat scroll 0% 0% rgba(144, 144, 144, 0.5);
    content: "";
    display: inline-block;
    height: 1px;
    margin-top: 0.5em;
    width: 100%;
}

.comment .gravatar {
    display: inline-block;
    float: left;
    margin-top: auto;
}

.comment .gravatar img {
    border-radius: 50%;
}

.comment .wrap {
    margin-left: 90px;
}

.comment .header h4 {
    display: inline-block;
}

.comment .header .name {
    text-transform: capitalize;
}

.comment .header .date {
    float: right;
}

.comment .content {
    font-size: 1.03em;
    margin: 0.25em 1em 0.25em 0em;
}

.comment .content p {
    margin: 0;
}

/*
 * Post comment form
 */

.post-comment-guest form {
    float: left;
    width: 45%;
}

.post-comment-user form {
    float: left;
    width: 100%;
}

.post-comment .header {
    margin-bottom: 0;
}

.post-comment .middle {
    width: 10%;
    float: left;
    text-align: center;
}

.post-comment .middle p {
    margin-top: 5em;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .post-comment-guest form {
        width: 100%;
    }

    .post-comment .middle {
        width: 100%;
        text-align: center;
    }

    .post-comment .middle p {
        margin-top: 0;
    }
}

/*
 * Store
 */
.store-card {
    height: 600px;
    background: rgba(243, 243, 243, 0.09);
    border-radius: 5px;
}

.store-card .image {
    margin-bottom: 0.5em !important;
}

.store-card .info {
    margin: 0 2% 0 2%;
}

.store-card p {
    margin-bottom: 1em !important;
}

.store-card .info .store-rating {
    margin: 0 0 0.5em;
}

.store-card .store-image-thumbnail {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.store-card .store-image-thumbnail img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.store-card .store-image-thumbnail .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(59, 59, 59, 0.60);
    transition: visibility 0.5s, opacity 0.5s;
}

.store-card .store-image-thumbnail:hover .hover {
    visibility: visible;
    opacity: 1;
}

.store-card .store-image-thumbnail .hover .center {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}

.store-card .store-image-thumbnail:hover .hover .center h3 {
    color: #f3f3f3;
}

.store-card .store-buttons {
    position: absolute;
    bottom: 0px;
    margin: 2%;
    width: 100%;
}

.store-card .store-buttons li a {
    padding: 0;
}

.store-card .store-buttons .buy-button {
    float: right;
    right: 2%;
}

.store-card .store-buttons .buy-button .disabled:hover {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff !important;
    color: #333 !important;
}

.store-card .store-buttons .buy-button .disabled {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff !important;
    color: #333 !important;
}

.store-categories-list {
    list-style: none;
}

.store-categories-list > li {
    display: inline-block;
}

.store-header {
    width: 100%;
}

.store-header .store-rating {
    display: inline-block;
}

.store-header .buy-header {
    float: right;
    margin: 0;
}

.store-header .buy-header .buy-button {
    width: 100%;
}

.store-header .buy-header .buy-button:hover .not-avalible {
    background-color: #555 !important;
    cursor: default;
}

.store-cart .id {
    width: 2.5%;
    text-align: center;
}

.store-cart .quantity {
    width: 5%;
    text-align: center;
}

.store-cart .remove {
    width: 5%;
    text-align: center;
}

.store-cart .remove a {
    border-bottom: none;
}

.store-cart .price {
    width: 10%;
    text-align: center;
}

.store-cart .total {
    text-align: right;
}

.store-cart .total-cost {
    width: 15%;
    text-align: center;
}

.store-cart .total-cost-fix {
    width: 3.5%;
}


@media (max-width: 768px) {
    .store-card {
        height: auto;
    }

    .store-card .store-buttons {
        position: inherit;
    }

    .store-card .store-buttons li {
        padding: 0;
        right: 2%;
    }

    .store-card .store-buttons li a {
        width: 100%;
    }
}

#review .review-rate-stars {
    font-size: 1.5em;
    cursor: pointer;
}

/*
 * Pagination / MISC
 */

.pagination {
    margin: auto;
    display: block;
    list-style: none;
    text-align: center;
    font-size: 1.2em;
}

.pagination li {
    display: inline-block;
}

.major .search {
    display: inline-block;
    float: right;
}

.major .search .search-input {
    width: 68% !important;
}

@media (max-width: 992px) {
    .major .search .search-input {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .major .search .search-input {
        width: 98% !important;
    }
}

.style2 .major .search input {
    background: #f3f3f3;
    color: #333333;
}

.major h2 {
    display: inline-block;
}

.major p {
    display: inline-block;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    height: 2.95em !important;
}

/*
 * Responsivnes FTW
 */

.block {
    float: left;
    margin: 1%;
    position: relative;
}

.width-100 {
    width: 98%;
}

.width-80 {
    width: 78%;
}

.width-75 {
    width: 73%;
}

.width-70 {
    width: 68%;
}

.width-66 {
    width: 64.666%;
}

.width-50 {
    width: 48%;
}

.width-33 {
    width: 31.333%;
}

.width-30 {
    width: 28%;
}

.width-25 {
    width: 23%;
}

.width-20 {
    width: 18%;
}

.width-15 {
    width: 13%;
}

@media (max-width: 1500px) {

    .width-25 {
        width: 31.333%;
    }
}

@media (max-width: 1200px) {
    .width-25 {
        width: 48%;
    }

    .width-20 {
        width: 48%;
    }

    .width-15 {
        width: 48%;
    }

    .l-width-100 {
        width: 100%;
    }
}

@media (max-width: 992px) {

    .width-80 {
        width: 98%;
    }

    .width-75 {
        width: 98%;
    }

    .width-70 {
        width: 98%;
    }

    .width-66 {
        width: 98%;
    }

    .width-33 {
        width: 48%;
    }

    .width-30 {
        width: 48%;
    }

    .sm-width-100 {
        width: 100%;
    }

    .sm-width-98 {
        width: 98%;
    }

}

@media (max-width: 768px) {

    .width-50 {
        width: 98%;
    }

    .width-33 {
        width: 98%;
    }

    .width-30 {
        width: 98%;
    }

    .width-25 {
        width: 98%;
    }

    .width-20 {
        width: 98%;
    }

    .width-15 {
        width: 98%;
    }

    .xs-width-100 {
        width: 100%;
    }

}

/*
 * Responsive Fix
 */

.container {
    width: 80%;
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }

}

/*
 * Image slider
 */

.carousel .fill {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: contain;
}

.carousel {
    position: relative;
    height: 100%;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
    height: 100%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
    max-height: 500px;
    width: 100%;
    height: auto;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
    outline: 0;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    line-height: 1;
    font-family: serif;
}
.carousel-control .icon-prev:before {
    content: '\2039';
}
.carousel-control .icon-next:before {
    content: '\203a';
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}
.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
}
.carousel-caption .btn {
    text-shadow: none;
}
@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px;
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}
