/* Isotope JS */
.gallery-container {
    margin-left: auto;
    margin-right: auto;
    width: 80em;
}

.gallery {
    width: 80em;
}

.gallery .wide-2col {
    max-width: 33.33%;
    height: auto;
}

.gallery .narrow-1col {
    max-width: 16.66%;
    height: auto;
}

.gallery .item img {
    height: auto;
    width: 100%;
}

.gallery .item .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(59, 59, 59, 0.60);
    transition: visibility 0.5s, opacity 0.5s;
}

.gallery .item:hover .hover {
    visibility: visible;
    opacity: 1;
}

.gallery .item .hover .center {
    position: relative;
    margin-top: 25px;
}

.gallery .item .hover .center h3 {
    text-transform: uppercase;
    color: #f3f3f3;
}

/*
 * Here Maps
 */

.map div {
    max-height: 500px;
}

/*
 * Tags Styling
 */

.tags {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.tags li {
    float: left;
}

/*
 * Heading text
 */

.major a {
    border-bottom: none;
}

/*
 * Post Show, footer author
 */

.author {
    display: inline-block;
    float: right;
    text-transform: capitalize;
    color: #555;
    font-weight: 400;
}

.author:before {
    background: none repeat scroll 0% 0% rgba(144, 144, 144, 0.5);
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 0.5em;
    margin-right: 0.25em;
}

/*
 * Comments
 */
.comment {
    list-style: none;
}

.comment:after {
    background: none repeat scroll 0% 0% rgba(144, 144, 144, 0.5);
    content: "";
    display: inline-block;
    height: 1px;
    margin-top: 0.5em;
    width: 100%;
}

.comment .gravatar {
    display: inline-block;
    float: left;
    margin-top: auto;
}

.comment .gravatar img {
    border-radius: 50%;
}

.comment .wrap {
    margin-left: 90px;
}

.comment .header h4 {
    display: inline-block;
}

.comment .header .name {
    text-transform: capitalize;
}

.comment .header .date {
    float: right;
}

.comment .content {
    margin: 0.25em 1em 0.25em 0em;
}

.comment .content p {
    margin: 0;
}

/*
 * Post comment form
 */

.post-comment form {
    width: 45%;
    float: left;
}

.post-comment .header {
    margin-bottom: 0;
}

.post-comment .middle {
    width: 10%;
    float: left;
    text-align: center;
}

.post-comment .middle p {
    margin-top: 5em;
    font-size: 1.5em;
}